/*ini adalah style slider*/

header{
	background-image: url("foto/bg.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

header h1{
	color: #8B4513;
}

nav{
	margin-bottom: 30px;
}

.carousel-item{
	height: 670px;
}

.carousel-item img{
	height: 700px;
}

.carousel-item .display-4{
	margin-top: -440px;
}

.carousel-item hr{
	border-color: #F05F40;
	width: 70px;
	border-width: 3px;
}

.carousel-item .btn{
	background-color: #F05F40;
	border: none;
	border-radius: 25px;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 40px;
}

.card-promo{
	margin-right: 30px;
}

.card-promo:hover{
	border: 1px solid #6a6a6a;
}

.card-promo:hover > .card-body{
	background-color: #f1f1f1;
}

footer{
	margin-top: 30px;
}ss